.tooltipster-duc {
	border-radius: 5px; 
	border-bottom: 3px solid #f71169;
	background: #2a2a2a;
	color: #fff;
}
.tooltipster-duc .tooltipster-content {
	font-family: 'Arial', 'sans-serif';
	font-size: 20px;
	line-height: 24px;
	padding: 20px 20px;
}
